.trip-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-title {
    font-size: 7rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.trip-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-input {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.trip-input:focus {
    outline: none;
    border: solid 1px;
}

.trip-btn {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 55px;
    background-color: #0082ad;
    cursor: pointer;
    width: 150px;
    color: white;
}

.trip-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-list-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.trip-list-li {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.trip-name {
    font-size: 3rem;
    font-weight: bold;
}

.delete-btn {
   background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: purple;

}

.hotel-website {
    margin: 1rem;
    text-decoration: none;
    color: black;

}

.hotel-input {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.hotel-btn {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: purple;

}

.hotel-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.add-hotel-btn {
    background-color: white;
    border: solid 1px;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .trip-title {
        font-size: 4rem;
    }

    .trip-input {
        font-size: 2rem;
    }

    .trip-btn {
        font-size: 2rem;
    }

    .trip-list-ul {
        font-size: 2rem;
    }

    .trip-list-li {
        font-size: 2rem;
    }

    .hotel-input {
        font-size: 1rem;
    }

    .hotel-btn {
        font-size: 1rem;
    }

    .hotel-icon {
        font-size:2rem;
    }

    .add-hotel-btn {
        font-size: 1rem;
    }

    .delete-btn {
        font-size: 1rem;
    }

    .hotel-website {
        font-size: 1rem;
    }

    .trip-container {
        font-size: 1rem;
    }

    .trip-form {
        font-size: 1rem;
    }

    .trip-list {
        font-size: 1rem;
    }
    
    .trip-list-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}